<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Category</b>Registration</a>
    </div>

    <div class="register-box-body">

        <form method="POST" action="/category/addAll">

            <div class="form-group">
                <label for="cat">Category</label>
                <input type="text" name="cat" list="cats" class="form-control">
                <datalist id="cats">
                    {{# each cat}}
                        <option value="{{this.name}}">
                    {{/each}}
                </datalist>
            </div>
            
            <div class="form-group">
                <label for="subCat">Sub Category</label>
                <input type="text" name="subCat" class="form-control">
            </div>

            <div class="form-group">
                <label for="feat">Features</label>
                <input type="text" name="feat" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      
    </div>

</div>
<div class="register-box">
  <div class="register-box-body">

      <form method="POST" action="/category/AddBrand">
        
            <div class="form-group">
                <label for="brand">brand</label>
                <input type="text" name="brand" class="form-control" required>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
</div>
 <div class="register-logo">
        <a href="#"><b>Product</b>View</a>
    </div>
    {{# if categ}}
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item">

                    <div class="row">
                        <div class="col-md-2 ">
                            <strong>Sub Category</strong>
                        </div>

                        <div class="col-md-2 ">
                            <strong>Category</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>Features</strong>
                        </div>
                        <div class="col-md-3 ">
                            <strong>created</strong>
                        </div>
                       
                        <div class="col-md-2 pull-center">
                            <strong>Action</strong>
                        </div>
                    </div>
                </li>

                {{# each categ}}
                <li class="list-group-item">

                    <div class="row">
                        
                        <div class="col-md-2 ">
                            <strong>{{this.name}}</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>{{this.category.name}}</strong>
                        </div>
                        <div class="col-md-2 ">
                            <strong>
                                {{# each this.features}}
                                    {{this}},
                                {{/each}}
                            </strong>
                        </div>
                        <div class="col-md-3 ">
                            <strong>{{this.created}}</strong>
                        </div>
                        <div class="col-md-2 ">
                            <a href="#"> <button class="btn btn-default " type="button">Edit</button></a>
                        </div>
                        </a>
                    </div>
                </li>
                {{/each }}

            </ul>
        </div>
    </div>
    {{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2 id="search-result" onclick="searchPartial()">No Item in found</h2>
        </div>
    </div>
    {{/if}}
</div>