<div class="box" >
    <div class="register-logo">
        <a href="#"><b>Add</b>NewLot</a>
    </div>
    <div class="box-body">

        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                <div class="well">

                    {{!-- action="/products/SaveInventory" --}}
                    <div class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class=" btn btn-sm btn-primary" data-target="hash"
                            href="hash" aria-expanded="true">Select A Category <span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            {{# each S_categories}}
                            {{# if this.subCategories}}
                            <li class="dropdown-submenu pull-right1">
                                <a tabindex="-1" href="#">{{this.name}}</a>
                                <ul class="dropdown-menu">
                                    {{# each this.subCategories}}
                                    <li>
                                        <a href="/products/getProductBySubcat/{{id}}">{{name}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{else}}
                            <li>
                                <a href="/products/getProductByCat/{{this._id}}">{{this.name}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>

                    <form id="save" method="POST">

                        <input type="hidden" name="check" id="check" value="0">
                        <input type="hidden" name="val" id="val" value="0">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <br>
                            <select id="model" name="model" class="btn btn-secondary dropdown-toggle">
                                {{# each product}}
                                <option value="{{this._id}}">{{this.model}}</option>
                                {{/each}}
                            </select>
                        </div>
                     
                        <div class="form-group">
                            <label for="purchase_price">Purchase Price</label>
                            <input type="number" name="purchase_price" id="purchase_price" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" id="quantity" onblur="createtextfields()" class="form-control"
                                required>
                        </div>
                        <div id="space">

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>