<div class="box">
    <div class="register-logo">
        <a href="#"><b>Update</b>Stock</a>
    </div>

    <div class="box-body">
        <p class="login-box-msg">Update Stock Info</p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">
                <div class="well">

                    <form action="/products/stockEdit/{{product.id}}" method="POST" >
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" class="form-control" value="{{product.product_id.model}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="lot_number">Lot Number</label>
                            <input type="text" name="lot_number" class="form-control" value="{{product._id}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="purchase_price">Purchase Price</label>
                            <input type="number" name="purchase_price" class="form-control" value="{{product.purchasePrice}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" class="form-control" value="{{product.remaining}}" >
                        </div>
                        <div class="form-group">
                            <label for="serial">Serial Number</label>
                            <textarea type="text" name="serial" class="form-control"  >{{# each product.serial}}{{this}},{{/each}}
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"> Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>