<div class="box">
    <div class="register-logo">
        <a href="#"><b>Edit</b>Lot</a>
    </div>
    <div class="box-body">
        <p class="login-box-msg" >Edit Lot Information</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="row">
                        <div class="well">
                            <form action="/products/stockEditNoSerial/{{product.id}}/{{product.product_id._id}}" method="POST">
                               
                                <input type="hidden" name="pre_all_serials" id="pre_all_serials" value="{{serial_string}}">
                                 <input type="hidden" name="pre_all_Q" id="pre_all_Q" value="{{product.remaining}}">
                                {{!-- <div class="form-group">
                                    <label for="model">All Serial</label>
                                    <input type="text" class="form-control" name="pre_all_or_serials" id="pre_all_or_serials" value="{{original_serial}}"  readonly>
                                </div> --}}
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" name="model" class="form-control" value="{{product.product_id.model}}"
                                        readonly>
                                </div>
                                <div class="form-group">
                                    <label for="lot_number">Lot Number</label>
                                    <input type="text" name="lot_number" class="form-control" value="{{product._id}}"
                                        readonly>
                                </div>
                                <div class="form-group">
                                    <label for="purchase_price">Purchase Price</label>
                                    <input type="number" name="purchase_price" class="form-control" value="{{product.purchasePrice}}"
                                       >
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input type="number" name="quantity" id="quantity" class="form-control" value="{{product.remaining}}"
                                        >
                                </div>
                               
                                <button type="submit" class="btn btn-primary"> Update</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
                
        </div>
    </div>
</div>
</div>