<div class="container-fluid" style="width:60%;min-height: 700px">
    <h1 style="margin: auto">{{category}}</a></h1>
    <div class="row">
        <div class="col-sm-4 ">
        </div>
        <div class="col-sm-4 ">
            <Div class="well" style="height: 300px; width: 80%">
                <img style="height: 100%; width: 100% " src="data:image/png;base64,{{ product.image }}" alt="{{ product.image }}">
            </div>
        </div>
        <div class="col-sm-4 ">
        </div>
    </div>
    <h2>Product Details</h2>
    <div class="row">
        <li class="list-group-item">

            <div class="row">
                <div class="col-md-3 col-md-3 ">
                    <strong>Name</strong>
                </div>
                <div class="col-md-9 col-md-9">
                    <strong>{{product.name }}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Category</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.subcategory.category.name}}</strong>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Sub Category</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.subcategory.name }}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>List Price</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.productPrice.listPrice}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Sale Price</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.productPrice.salePrice }}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Whole Sale Price</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.productPrice.wholeSalePrice }}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Brand</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.brand.name}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Model</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.model}}</strong>
                </div>
            </div>

            <hr>
            {{# each features}}
            <div class="row">
                <div class="col-md-3 col-md-6">
                    <strong>{{this.label}}</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{this.value}}</strong>
                </div>
            </div>
            <hr>
            {{/each}}

            <div class="row">
                <div class="col-md-3 col-md-3">
                    <strong>Description</strong>
                </div>
                <div class="col-md-9 col-md-9">
                    <strong>{{product.description}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Owner</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.owner.name}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Stock Quantity</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.quantity.stock}}</strong>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Activation Status</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.isActive}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Sale</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.onSale}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>Shipping Info</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.shippingInfo}}</strong>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-3 col-md-6 ">
                    <strong>last update</strong>
                </div>
                <div class="col-md-3 col-md-6">
                    <strong>{{product.created}}</strong>
                </div>
            </div>

        </li>
    </div>
    <br>
</div>