<div class="box">
<div class="box-body">
<h4>Product: {{product.model}}</h4> 
<h4>live: {{product.live.quantity}}</h4>
<h4>Total Inventory: {{product.total_stock}}</h4>
<h4>Total: {{product.total}}</h4><br>

<div style="background-color: white">
    <table style="width:20%" id="tab" class="table table-hover">
        <tr>
            <th>Live Serial</th>
        </tr>
        {{# each product.live.serial}}
        <tr>
            <td> {{this.serial}}</td> 
        </tr>
        {{/each}}
    </table>
</div><br>

<h4>Inventory List</h4>
{{# if product.invtry}}
<div style="background-color: white">
    <table style="width:100%" id="tab" class="table table-hover">
        <tr>
            <th>InventoryID</th>
            <th>Purchase Price</th>
            <th>Serial</th>
            <th>Offline</th>
            <th>date</th>
        </tr>
        {{# each product.invtry}}
        <tr>
            <td> {{this._id}}</td>
            <td>{{formatNumber this.purchasePrice}} TK</td>
            <td>
                {{# each this.serial}}
                {{this}}<br>
                {{/each}}
            </td>
            <td>{{this.remaining}}</td>
            <td>{{formatDate this.created}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div>
</div>
</div>