<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Brand List</a>
    </div>

    <div style="background-color: white">
        <table style="width:100%" class="table table-striped" >
            <tr>
                <th>Name</th>
              
            </tr>
          {{# each brand}}
            <tr>
                <td>{{this.name}}</td>
               {{# if this.enabled}}
                <td>Enabled</td>
                {{else}}
                <td>Disabled</td>
                {{/if}}
                <td>
                    <a href="" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" >Edit</a>
                    {{# if this.enabled}}
                    <a href="/category/brand/changeStatus/{{this._id}}/false" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" >Disable</a>
                    {{else}}
                         <a href="/category/brand/changeStatus/{{this._id}}/true" data-toggle="tooltip" 
                        title="Edit info" class="btn btn-default" >Enable</a>
                    {{/if}}
                </td>
               
            </tr>
           
            {{/each}}
        </table>

    </div>

</div>