<div class="row">
    {{!-- <div class="col-sm-1"></div> --}}
    <div class="col-sm-12 left-col">
        <div class="panel panel-default">

            <div class="panel-body">
                <bold>
                    <h4>Everest Computers LTD</h4>
                </bold>
                <bold>
                    <p style="font-size: 9">House No-7, 2nd Floor, Momtaz Plaza, Road No-4, Dhanmondi R/A, Dhaka 1205</p>
                </bold>
                <hr>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <label> Order ID:</label>
                        <p>Customer:</p>
                        <p>E-Mail:</p>
                        <p>Telephone:</p>
                        <p>Order Date:</p>
                        <p>Payment Method:</p>

                    </div>
                    <div class="col-sm-9">
                        <label>{{order._id}}</label>
                        <p>{{order.user.profile.name}}</p>
                        <p>{{order.user.email}}</p>
                        <p>{{order.user.contact}}</p>
                        <p>{{order.created}}</p>
                        <p>{{order.paymentMethod}}</p>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="product">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td class="text-left">Product</td>
                                    <td class="text-right">Quantity</td>
                                    <td class="text-right">Unit Price</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                {{# each order.cart}}

                                <tr>
                                    <td class="text-left">
                                        <a href="#">{{this.title}}</a>
                                        <br>
                                    </td>
                                    <td class="text-right">{{this.quantity}}</td>
                                    <td class="text-right">{{this.unitPrice}}TK</td>
                                    <td class="text-right">{{this.price}}TK</td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td colspan="3" class="text-right">Shipping Cost:</td>
                                    <td class="text-right">{{order.shippingCost}}TK</td>
                                </tr>
                                {{!-- <tr>
                                    <td colspan="3" class="text-right">VAT (20%):</td>
                                    <td class="text-right">$3.00</td>
                                </tr> --}}
                                {{!-- <tr>
                                    <td colspan="3" class="text-right">Sub-Total:</td>
                                    <td class="text-right">$15.00</td>
                                </tr> --}}
                                <tr>
                                    <td colspan="3" class="text-right">Total:</td>
                                    <td class="text-right">{{order.totalAmount}}TK</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <div class="col-sm-1"></div> --}}
</div>
<button class="btn btn-info text-center pull-right" style="background-color: #0747a6; margin-bottom:10px;" onclick="myFunction()"
    id="buttonID">Download</button>