<div class="container-fluid" style="width:100%;min-height: 700px">
    <div class="register-logo">
        <a href="#"><b>Product</b>List</a>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <ul style="list-style-type: none;padding: 0">
                <li class="dropdown">
                    <a style="color: black; font-weight: bold; font-size: medium" href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><button class="btn btn-default">Sort
                            By<span class="caret"></span></button></a>
                    <ul class="dropdown-menu">
                       
                        <li><a href="/products/View">All Products <img src="https://img.icons8.com/ios/20/000000/open-box.png"
                                    class="pull-right"></a></li>
                        <li><a href="/products/Online">Online Products <img src="https://img.icons8.com/ios/20/000000/mobile-order-filled.png"
                                    class="pull-right"></a></li>
                        <li><a href="/products/Offline">Offline Products <img src="https://img.icons8.com/ios/20/000000/tv-off.png"
                                    class="pull-right"></a></li>
                        <li><a href="/products/Sale">Products on Sale <img src="https://img.icons8.com/ios/18/000000/discount.png"
                                    class="pull-right"></a></li>
                        <li><a href="/products/Sale">Stock <img src="https://img.icons8.com/ios/18/000000/positive-dynamic.png"
                                    class="pull-right"></a></li>
                        <li><a href="/products/Sale">Stock <img src="https://img.icons8.com/ios/18/000000/negative-dynamic.png"
                                    class="pull-right"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <a class="btn btn-success pull-right" href="/products/newLot">New Lot</a>
        </div>

        <div class="col-sm-1">
            <a class="btn btn-success pull-right" href="/products/showfields">New Product</a>
        </div>

    </div>


    {{# if products}}
    <div style="background-color: white">
        <table style="width:100%" class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Purchase Price</th>
                <th>Selling Price</th>
                <th>Offline</th>
                <th>Live</th>
              
                <th>Action</th>
            </tr>
            {{# each products}}
            <tr>
                <td>
                     
                    <a href="/products/Edit/{{this.product_id._id}}" data-toggle="tooltip" data-placement="top"
                        title="Edit" style="padding: 0%" class="btn btn-primary">
                        <img src="https://img.icons8.com/windows/20/ffffff/edit.png">
                    </a>

                    <strong>{{this.product_id.model}}</strong>
                    
                </td>

                <td>
                    <strong>{{this.purchasePrice}}TK</strong>
                </td>

                <td>
                    {{!-- {{# if this.onSale}} --}}
                    {{!-- <strike><strong>{{this.productPrice.listPrice}}TK</strong></strike><br> --}}
                    {{!-- <strong style="color: red"><a href="/products/addDiscount/{{this._id}}/{{this.subcategory._id}}">{{this.productPrice.salePrice}}TK</a></strong> --}}
                    {{!-- {{else}} --}}
                    <strong>{{this.productPrice.listPrice}}TK</strong>
                    {{!-- {{/if}} --}}
                </td>

                <td>
                    <a href="/products/stockEditPage/{{this._id}}" class="btn btn-outline-success">{{this.stockQuantity}}</a>
                </td>

                <td>
                    <a href="/products/liveStockEdit/{{this._id}}" class="btn btn-outline-success">{{this.live}}</a>
                </td>
                <td>
                    {{!-- {{# if this.quantity.storeLive}} --}}
                        {{!-- {{# if this.isActive}} --}}
                            <a href="/products/unactive/{{this._id}}" class="btn btn-default ">Offline</a>
                            {{!-- {{# if this.onSale }} --}}
                            <a href="/products/addDiscount/{{this._id}}/{{this.subcategory._id}}" class="btn btn-default">Edit
                                Discount</a>
                            <a onclick="if (confirm('Are you sure you want to delete the product lot?')) { href='/products/removeFromSale/{{this._id}}/{{this.subcategory._id}}'; } else { return false; }"
                                class="btn btn-default">Remove Discount</a>
                            {{!--  if this.onSale --}}
                            {{!-- {{else}} --}}
                            <a href="/products/addDiscount/{{this._id}}/{{this.subcategory._id}}" class="btn btn-default">Add
                                Discount</a>
                            {{!--  if this.onSale --}}
                            {{!-- {{/if}} --}}
                        {{!-- if this.isActive --}}
                        {{!-- {{else}} --}}
                        <a href="/products/active/{{this._id}}/{{this.subcategory._id}}" class="btn btn-default">Online</a>
                        {{!-- if this.isActive --}}
                        {{!-- {{/if}} --}}
                        <a class="btn btn-danger" id="d" onclick="if (confirm('Are you sure you want to remove discount?')) { document.getElementById(this).innerHTML= 'Enable' } else { return false; }"
                        data-toggle="tooltip" data-placement="top" title="Delete">Disable</a>
                      
                        </td>
                  
                    {{!-- {{/if}} --}}
            </tr>
            {{!-- each product --}}
            {{/each}}
        </table>

    </div>
    {{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2 id="search-result" onclick="searchPartial()">No Item in found</h2>
        </div>
    </div>
    {{/if}}

</div>