<div class="box">
    <div class="register-logo">

    </div>

    <div class="box-body">
        <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

            {{!-- Category Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Category</h3>
                <form method="POST" action="/category/addCategory">

                    <div class="form-group">
                        <label for="cat">Category</label>
                        <input type="text" name="cat" placeholder="Enter New Category" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            {{!--Sub Category Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Sub Category</h3>
                <form method="POST" action="/category/addSubCategory">

                    <div class="form-group">
                        <label for="cate">Category<span style="color: red">*</span></label>

                        <select class="form-control" name="cate" required>
                            {{# each cat}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="subCat">Sub Category</label>
                        <input type="text" name="subCat" placeholder="Enter New Sub Category" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            {{!-- Brand Registration --}}
            <div class="well">

                <h3 class="text-center">Add new Brand</h3>
                <form method="POST" action="/category/addBrand">

                    <div class="form-group">
                        <label for="brand">Brand<span style="color: red">*</span></label>
                        <input type="text" name="brand" class="form-control" placeholder="Enter New Brand" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            {{!-- Product Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Product/ Model</h3>
                <div class="well">
                    <form action="/products/showfields" method="POST">
                        <div class="form-group">
                            <label for="categg">Category<span style="color: red">*</span></label>

                            <select class="form-control" name="categg" id="categg" required>

                                {{# each cat}}
                                <option value="{{this._id}},{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subCategg">Sub Category(optional)</label>
                            <select class="form-control" name="subCategg" id="subCategg">
                                <option value="null">select one</option>
                                {{# each categories}}
                                <option value="{{this._id}},{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="brandg">Brand<span style="color: red">*</span></label>
                            <select class="form-control" name="brandg" required>
                                {{# each brand}}
                                <option value="{{this._id}},{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-danger ">Submit</button> <br>
                        <p style="color:red; float:left"> Submit the form before filling up the product Information</p>
                    </form>
                </div>

                <form action="/products/regiSave" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="num" value="{{num}}">
                    <input type="hidden" name="brand" value="{{brands}}">
                    <input type="hidden" name="catt" value="{{catt}}">
                    <input type="hidden" name="sub" value="{{sub}}">
                    <input type="hidden" name="status" value="{{status}}">
                    <input type="hidden" name="cattN" value="{{cattN}}">
                    <input type="hidden" name="subN" value="{{subN}}">
                    <input type="hidden" name="brandN" value="{{brandN}}">

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title">
                    </div>

                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" name="model" class="form-control" placeholder="Enter Model">
                    </div>

                    {{!-- old features will load here --}}
                    {{# each features}}
                    <div class="form-group">
                        <input type="hidden" name="feature{{@index}}_label" value="{{this}}">
                        <label for="feature{{@index}}_value">{{this}}</label>
                        <input type="text" name="feature{{@index}}_value" class="form-control" placeholder="">
                    </div>
                    {{/each}}

                    <div id="add">
                        {{!-- New feature will be added here --}}
                    </div><br>

                    {{!-- Adding new feature --}}
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="hidden" id="new_feat" name="new_feat" value="0">
                            <input type="text" id="new_feat_label" name="new_feat_label" class="form-control" placeholder="write a new feature name">
                        </div>
                        <div class="col-sm-2">
                            <a onclick="setvisible()" class="btn btn-success">Add New Feature</a>
                        </div>


                    </div><br>

                    <div class="form-group">
                        <label for="warranty">Warranty</label>
                        <input type="text" name="warranty" class="form-control" placeholder="Enter Warranty">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="shippingInfo">Shipping Info</label>
                        <textarea type="text" name="shippingInfo" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagePath">Image<span style="color: red">*</span></label>
                        <input type="file" name="imagePath" accept="image/png, image/jpeg" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>