<div class="box">
    <div class="register-logo">

    </div>

    <div class="box-body">
        <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-3">

            {{!-- Category Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Category</h3>
                <form method="POST" action="/category/addCategory">

                    <div class="form-group">
                        <label for="cat">Category</label>
                        <input type="text" name="cat" placeholder="Enter Category" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            {{!--Sub Category Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Sub Category</h3>
                <form method="POST" action="/category/addSubCategory">

                    <div class="form-group">
                        <label for="cate">Category<span style="color: red">*</span></label>

                        <select class="form-control" name="cate">
                            {{# each cat}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="subCat">Sub Category</label>
                        <input type="text" name="subCat" placeholder="Enter Sub Category" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            {{!-- Brand Registration --}}
            <div class="well">

                <h3 class="text-center">Add new Brand</h3>
                <form method="POST" action="/category/addBrand">

                    <div class="form-group">
                        <label for="catee">Category<span style="color: red">*</span></label>
                        <select class="form-control" name="catee">
                            {{# each cat}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="subCate">Sub Category(optional)</label>
                        <select class="form-control" name="subCate">
                            <option value="null">select one</option>
                            {{# each categories}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="brand">brand<span style="color: red">*</span></label>
                        <input type="text" name="brand" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


            {{!-- Product Registration --}}
            <div class="well">
                <h3 class="text-center">Add New Product/ Model</h3>
                <div class="well">
                    <form action="/products/showfields" method="POST">
                        <div class="form-group">
                            <label for="categg">Category<span style="color: red">*</span></label>

                            <select class="form-control" name="categg">

                                {{# each cat}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="subCategg">Sub Category(optional)</label>
                            <select class="form-control" name="subCategg">
                                <option value="null">select one</option>
                                {{# each categories}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="brandg">Brand<span style="color: red">*</span></label>
                            <select class="form-control" name="brandg">
                                {{# each brand}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Submit</button> <br>
                    </form>
                </div>
                <form action="/products/regiSave/{{brands}}/{{num}}" method="POST" enctype="multipart/form-data">
                    <input type="text" name="catt" value="{{catt}}">
                    <input type="text" name="sub" value="{{sub}}">
                    <input type="text" name="status" value="{{status}}">
                    <div class="form-group">

                        <label for="title">Title

                        </label>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title">
                    </div>

                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" name="model" class="form-control" placeholder="Enter Model">
                    </div>

                    {{!-- old features will load here --}}
                    {{# each features}}
                    <div class="form-group">
                        <input type="hidden" name="feature{{@index}}_label" value="{{this}}">
                        <label for="feature{{@index}}_value">{{this}}</label>
                        <input type="text" name="feature{{@index}}_value" class="form-control" placeholder="">
                    </div>
                    {{/each}}

                    <div id="add">
                        {{!-- New feature will be added here --}}
                    </div>
                    {{!-- Adding new feature --}}
                    <div>
                        <input type="hidden" id="new_feat" name="new_feat" value="0">
                        <input type="text" id="new_feat_label" name="new_feat_label" placeholder="write a new feature name">
                        <a onclick="setvisible()" class="btn ">New Feature</a>
                    </div>

                    <div class="form-group">
                        <label for="warranty">Warranty</label>
                        <input type="text" name="warranty" class="form-control" placeholder="Enter Warranty">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="shippingInfo">Shipping Info</label>
                        <textarea type="text" name="shippingInfo" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagePath">Image</label>
                        <input type="file" name="imagePath" accept="image/png, image/jpeg">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>